<div {{bind-attr class="isOnAbout:red isWork:is-work isAbout:is-about"}} {{action "setHoverAbout" on="mouseEnter"}}>

<div {{bind-attr class="isOnWork:red :is-work"}} {{action "setHoverWork" on="mouseEnter"}}>
</div>
{{!-- {{contact-card setHover="setHover" setOnContact="setOnContact" removeOnContact="removeOnContact"}} --}}
{{!-- {{view "card-view"}} --}}
</div> 